.root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
}
.canvas {
  transform-origin: 50% 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  image-rendering: pixelated;
}
